
[build.environment]
  NPM_VERSION = "6.14.8"
  NODE_VERSION = "12.16.3"

[build]
  publish = "docs/_build/html"
  command = "cd docs && make clean html && cd .."

[context.production]
  publish = "docs/_build/html"
  command = "cd docs && make clean html && cd .."

[context.deploy-preview]
  publish = "docs/_build/html"
  command = "cd docs && make clean html && cd .."

[functions]
  directory = "functions"

[[redirects]]
  from = "/*"
  to = "/docs/fanatical-support-aws/:splat"
  status = 301
  force = false

[[plugins]]
  package = "@netlify/plugin-sitemap"
  [plugins.inputs]
  prettyURLs = true
  trailingSlash = true

[[plugins]]
  package = "@netlify/plugin-lighthouse"